heartfailureAI.json
[
  {
    "id": "3b9e088c.f59488",
    "type": "ui_form",
    "z": "62285b09.f66144",
    "name": "",
    "label": "",
    "group": "87bfaf07.dede2",
    "order": 1,
    "width": 0,
    "height": 0,
    "options": [
      {
        "label": "AVGHEARTBEATSPERMIN",
        "value": "hb",
        "type": "number",
        "required": true,
        "rows": null
      },
      {
        "label": "PALPITATIONSPERDAY",
        "value": "pl",
        "type": "number",
        "required": true,
        "rows": null
      },
      {
        "label": "CHOLESTEROL",
        "value": "cl",
        "type": "number",
        "required": true,
        "rows": null
      },
      {
        "label": "BMI",
        "value": "bmi",
        "type": "number",
        "required": true,
        "rows": null
      },
      {
        "label": "AGE",
        "value": "ag",
        "type": "number",
        "required": true,
        "rows": null
      },
      {
        "label": "SEX",
        "value": "se",
        "type": "text",
        "required": true,
        "rows": null
      },
      {
        "label": "FAMILYHISTORY",
        "value": "fh",
        "type": "text",
        "required": true,
        "rows": null
      },
      {
        "label": "SMOKERLAST5YRS",
        "value": "sm",
        "type": "text",
        "required": true,
        "rows": null
      },
      {
        "label": "EXERCISEMINPERWEEK",
        "value": "ex",
        "type": "number",
        "required": true,
        "rows": null
      }
    ],
    "formValue": {
      "hb": "",
      "pl": "",
      "cl": "",
      "bmi": "",
      "ag": "",
      "se": "",
      "fh": "",
      "sm": "",
      "ex": ""
    },
    "payload": "",
    "submit": "submit",
    "cancel": "cancel",
    "topic": "",
    "x": 70,
    "y": 280,
    "wires": [
      [
        "70cb2d63.67bee4",
        "98ab6fa8.64348"
      ]
    ]
  },
  {
    "id": "70cb2d63.67bee4",
    "type": "debug",
    "z": "62285b09.f66144",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 250,
    "y": 360,
    "wires": []
  },
  {
    "id": "98ab6fa8.64348",
    "type": "function",
    "z": "62285b09.f66144",
    "name": "pre-token",
    "func": "global.set(\"hb\",msg.payload.hb)\nglobal.set(\"pl\",msg.payload.pl)\nglobal.set(\"cl\",msg.payload.cl)\nglobal.set(\"bmi\",msg.payload.bmi)\nglobal.set(\"ag\",msg.payload.ag)\nglobal.set(\"se\",msg.payload.se)\nglobal.set(\"fh\",msg.payload.fh)\nglobal.set(\"sm\",msg.payload.sm)\nglobal.set(\"ex\",msg.payload.ex)\nvar apikey=\"MgOxMrb3VXZTPNAQdvKuinfxmrVPh-pcSTQ9ItQBTdyY\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 260,
    "y": 220,
    "wires": [
      [
        "60898512.72ddfc"
      ]
    ]
  },
  {
    "id": "60898512.72ddfc",
    "type": "http request",
    "z": "62285b09.f66144",
    "name": "",
    "method": "POST",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "https://iam.cloud.ibm.com/identity/token",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "x": 412.00000381469727,
    "y": 264.00000286102295,
    "wires": [
      [
        "fc95f2.bb09fa1",
        "4c15f459.75930c"
      ]
    ]
  },
  {
    "id": "fc95f2.bb09fa1",
    "type": "debug",
    "z": "62285b09.f66144",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 600,
    "y": 320,
    "wires": []
  },
  {
    "id": "4c15f459.75930c",
    "type": "function",
    "z": "62285b09.f66144",
    "name": "Pre Prediction",
    "func": "var hb = global.get(\"hb\")\nvar pl = global.get(\"pl\")\nvar cl = global.get(\"cl\")\nvar bmi = global.get(\"bmi\")\nvar ag = global.get(\"ag\")\nvar se = global.get(\"se\")\nvar fh = global.get(\"fh\")\nvar sm = global.get(\"sm\")\nvar ex = global.get(\"ex\")\nvar token=msg.payload.access_token\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"Accept\":\"application/json\"}\nmsg.payload={\"input_data\":[{\"fields\": [[\"AVGHEARTBEATSPERMIN\", \"PALPITATIONSPERDAY\", \"CHOLESTEROL\", \"BMI\", \"AGE\", \"SEX\", \"FAMILYHISTORY\", \"SMOKERLAST5YRS\", \"EXERCISEMINPERWEEK\"]],\"values\": [[hb,pl,cl,bmi,ag,se,fh,sm,ex]]}]}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 604.0000076293945,
    "y": 216.0000021457672,
    "wires": [
      [
        "d313dd40.2222"
      ]
    ]
  },
  {
    "id": "d313dd40.2222",
    "type": "http request",
    "z": "62285b09.f66144",
    "name": "",
    "method": "POST",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "https://us-south.ml.cloud.ibm.com/ml/v4/deployments/942665c4-6152-4ffa-a1d0-992ff8f7ebb0/predictions?version=2020-09-01",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "x": 830,
    "y": 240,
    "wires": [
      [
        "56f2735.cd1498c",
        "51723528.c42e2c"
      ]
    ]
  },
  {
    "id": "56f2735.cd1498c",
    "type": "debug",
    "z": "62285b09.f66144",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 982.9999914169312,
    "y": 324.00000381469727,
    "wires": []
  },
  {
    "id": "3328a3cb.753d4c",
    "type": "inject",
    "z": "62285b09.f66144",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 130,
    "y": 120,
    "wires": [
      [
        "98ab6fa8.64348"
      ]
    ]
  },
  {
    "id": "40f0ccee.2db5a4",
    "type": "debug",
    "z": "62285b09.f66144",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 813.9999885559082,
    "y": 107.0000057220459,
    "wires": []
  },
  {
    "id": "51723528.c42e2c",
    "type": "function",
    "z": "62285b09.f66144",
    "name": "Parsing",
    "func": "msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 659.6000595092773,
    "y": 148.00000190734863,
    "wires": [
      [
        "40f0ccee.2db5a4",
        "476ccb7b.499174"
      ]
    ]
  },
  {
    "id": "476ccb7b.499174",
    "type": "ui_text",
    "z": "62285b09.f66144",
    "group": "87bfaf07.dede2",
    "order": 2,
    "width": 0,
    "height": 0,
    "name": "",
    "label": "Prediction",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "x": 777.6000366210938,
    "y": 381.20001220703125,
    "wires": []
  },
  {
    "id": "87bfaf07.dede2",
    "type": "ui_group",
    "z": "",
    "name": "New",
    "tab": "2e1e8bfb.51a344",
    "order": 1,
    "disp": true,
    "width": "6",
    "collapse": false
  },
  {
    "id": "2e1e8bfb.51a344",
    "type": "ui_tab",
    "z": "",
    "name": "Home",
    "icon": "dashboard",
    "disabled": false,
    "hidden": false
  }
]